<%= render 'shared/errors', obj: @student %>

<div class="row mt-4">
  <div class="col-12"><h2 class="text-center"><%= @student.new_record?  ? "Sign Up" : "Edit your profile" %></h2></div>
</div>

<div class="container">
  <%= form_with(model: @student, class: "shadow-lg p-3 mt-5 bg-white rounded") do |form| %>
    <div class="form-row">
      <div class="form-group col-md-5">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter your full name" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter your email" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "Choose your password" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <%= form.label :password %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
      </div>
    </div>
    <%= form.submit(@student.new_record?  ? "Sign Up" : "Edit", id: "btn1", class: "btn btn-primary mt-2")%>
  <% end %>
</div>