<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4 mt-4">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @student.name %></h5>
          <h6 class="card-subtitle mb-2"><em>Email: <%= @student.email %></em></h6>
          <p>Course Enrollments:
            <% if @student.courses.empty? %>
              None
            <% else %>
            <ul>
              <% @student.courses.each do |course| %>
                <%= course.subtitle %>
              <% end %>
            </ul>
          <% end %>
          </p>
          <hr/>
          <%= link_to students_path, class: "card-link" do %>
            <%= fa_icon 'arrow-left' %> Back
          <% end %>
          <% if current_user == @student %>
            <%= link_to edit_student_path(@student), class: "card-link" do %>
              <%= fa_icon 'edit' %> Edit profile
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


